@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: rgb(0, 18, 53);
  --secondary-color: rgb(0, 119, 128);
}

body {
  background-color: var(--primary-color);
}

.header {
  background-color: var(--secondary-color);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin-right: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.2rem 0.6rem;
  position: relative;
}

nav ul li a::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  height: 3px;
  width: 0;
  transform: translateX(-50%);
  background-color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover:before {
  width: 100%;
}

nav ul li a:focus {
  background-color: var(--primary-color);
  border-radius: 10px;
}

nav ul li a:focus::before {
  width: 0%;
}

.search-btn {
  display: flex;
}
.inputText {
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 5px 0px 0px 5px;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  color: white;
  background-color: var(--primary-color);
}

.inputText::placeholder {
  color: white;
}

.search-btn button {
  background-color: var(--primary-color);
  padding: 0.2rem 1rem;
  border-radius: 0 2rem 2rem 0;
  color: white;
  font-size: 1rem;
  outline: none;
  border: 1px solid var(--primary-color);
}

.container {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  width: 300px;
  background-color: var(--secondary-color);
  margin: 1rem;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.movie .poster {
  width: 100%;
  height: 250px;
}

.movie-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.movie-details .box {
  width: 100%;
  height: 100px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.movie-details .title {
  width: 160px;
  text-align: center;
  color: white;
}

.movie-details .overview {
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 100%;
  background-color: var(--secondary-color);
  opacity: 0.9;
  color: white;
  box-sizing: border-box;
  padding: 1rem;
  transition: all 0.4s ease-in-out;
  overflow-y: auto;
  transform: translateY(101%);
}

.movie:hover .overview {
  transform: translateY(0%);
}

.rating {
  background-color: var(--primary-color);
  width: 45px;
  height: 45px;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  /* border: 1px solid var(--primary-color); */
  box-shadow: inset 0 5px 5px rgb(0 0 0 / 50%);
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: white;
}

.notfound {
  color: white;
}

@media (max-width: 900px) {
  .header {
    background-color: var(--secondary-color);
    height: 180px;
  }
  nav ul li {
    padding-top: 10px;
  }
  .search-btn {
    width: 200px;
    margin-right: 100px;
  }
  .header {
    background-color: var(--secondary-color);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
}

@media (max-width: 670px) {
  nav ul li {
    list-style: none;
    margin-right: 0;
  }
  nav ul li a {
    font-size: 0.8rem;
  }
}
